<!Doctype html>
<html lang="en">
  <head>
    <title>Maxime Dupuis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= htmlWebpackPlugin.options.baseUrl %>">
    <meta name="twitter:title" content="Maxime Dupuis">
    <meta name="twitter:description" content="Web Developer">
    <meta name="twitter:image:src" content="<%= htmlWebpackPlugin.options.baseUrl %>/static/og-thumbnail.jpg">
    <!-- Open Graph data -->
    <meta property="og:title" content="Maxime Dupuis" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.baseUrl %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.baseUrl %>/static/og-thumbnail.jpg" />
    <meta property="og:site_name" content="maxdup.dev" />
    <!-- Metadata -->
    <meta name="description" content="Montréal based web developer" data-localize-content>
    <meta name="keywords" content="programming, development, developer, web, website, maxdup">
  </head>

  <body id="maxdup">
    <div id="main">
      <div id="main-content">
        <div class="reserved-space">
          <p class="main-title scramble-stage-1" data-localize-text main-scramble-sequence="1">
            Hello!
          </p>
          <p class="main-subtitle scramble-stage-2" data-localize-text main-scramble-sequence="2">
            I'm Maxime Dupuis
          </p>
          <p class="main-descriptor scramble-stage-3" data-localize-text main-scramble-sequence="3">
            a web developer
          </p>
        </div>
      </div>
    </div>

    <nav tabindex="-1" class="mdi mdia-bx-menu">
      <div>
        <ul id="nav-links">
          <li><a href="#main" scene="main" data-localize-text>Home</a></li>
          <li><a href="#trajectory" scene="mountain" data-localize-text>Trajectory</a></li>
          <li><a href="#skills" scene="network" data-localize-text>Skills</a></li>
          <li><a href="#where" scene="montreal" data-localize-text>Contact</a></li>
        </ul>

        <div id="social-links">
          <h4 data-localize-text>Where to find</h4>
          <ul>
            <li><a href="https://github.com/maxdup" target="_blank"
                   class="mdi mdi-github" aria-label="Github profile" data-localize-aria></a></li>
            <li><a href="https://linkedin.com/in/maxdup/" target="_blank"
                   class="mdi mdi-linkedin" aria-label="Linkedin profile" data-localize-aria></a></li>
            <li><a href="mailto:mdupuis@hotmail.ca"
                   class="mdi mdi-bxs-envelope" aria-label="Email link" data-localize-aria></a></li>
            <li><a href="tel:++1 514 546 0054"
                   class="mdi mdi-bxs-phone" aria-label="Phone link" data-localize-aria></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <a id="home" href="#main" scene="main" class="mdi mdi-logo">
      <h1 data-localize-text>Maxime Dupuis</h1>
    </a>

    <div id="trajectory" class="container">
      <div class="floater-container">
        <div class="floating-container">
          <div class="aside-blurb" id="path">
            <div class="floating-aside-blurb">
              <i class="mdi mdi-bxs-flag-alt"></i>

              <ol id="trajectory-graph">
                <li class="graph-node"></li>
                <li class="graph-node">
                  <div class="graph-node-line"></div>
                </li>
                <li class="graph-node">
                  <div class="graph-node-line"></div>
                </li>
                <li class="graph-node">
                  <div class="graph-node-line"></div>
                </li>
                <li class="graph-node">
                  <div class="graph-node-line"></div>
                </li>
              </ol>
            </div>
          </div>
          <div class="main-blurb">
            <h2 data-localize-text>Trajectory</h2>
            <p data-localize-text>My journey unfolded in the dynamic landscape of various startups, where I've embraced diverse roles. Through immersing myself in the ever-expanding world of web development, acquiring numerous skills along the way, and addressing challenges one at a time, it has become increasingly clear to me that building great software was never about choosing the right tool or framework. Rather, it has everything to do with seamlessly combining technologies to work in unison, leading to rich and multifaceted experiences.</p>
            <p data-localize-text>I'm truly passionate about software product development. For me, the true magic is when everything comes together, combining to create digital wonder. Collectively, this is what my experiences have always led me toward.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="skills" class="container">
      <div class="floater-container">
        <div class="floating-container">

          <div class="main-blurb">
            <h2 data-localize-text>Skills</h2>
            <p data-localize-text>Armed with a versatile software development skill set, I ensure a comprehensive understanding of every facet of software, leaving no room for uncertainty. Having a strong multimedia background enables me to blend form and function, resulting in a cohesive and harmonious whole.</p>
          </div>

          <div class="full-blurb" id="skill-grid">
            <div class="grid-column">
              <h3 data-localize-text>Programming Languages</h3>
              <ul>
                <li>TypeScript</li>
                <li>JavaScript</li>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>SCSS</li>
                <li>WebGL</li>
                <li>Python</li>
                <li>C#</li>
                <li>Java</li>
                <li>PHP</li>
              </ul>
            </div>
            <div class="grid-column">
              <h3 data-localize-text>Frontend Frameworks and Technologies</h3>
              <ul>
                <li>Angular</li>
                <li>VueJs</li>
                <li>AngularJs</li>
                <li>Ionic</li>
                <li>Wordpress</li>
                <li>WPF</li>
              </ul>
            </div>

            <div class="grid-column">
              <h3 data-localize-text>Backend Frameworks and Technologies</h3>
              <ul>
                <li>Flask</li>
                <li>Django</li>
                <li>.net</li>
                <li>SQL</li>
                <li>MongoDB</li>
                <li>RabbitMQ</li>
              </ul>
            </div>
            <div class="grid-column">
              <h3 data-localize-text>Infrastructure and Tools</h3>
              <ul>
                <li>Webpack</li>
                <li>Git</li>
                <li>Jira</li>
                <li>Sphinx</li>
                <li>NodeJs</li>
                <li>Docker</li>
                <li>Nginx</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="where" class="container">
      <div class="floater-container">
        <div class="floating-container">
          <div id="location" class="aside-blurb">
            <div class="floating-aside-blurb">
              <i class="mdi mdi-bxs-map"></i>
              <b data-localize-text>Montréal</b>
              <span data-localize-text>Canada</span>
            </div>
          </div>
          <div class="main-blurb">
            <h2 data-localize-text>Where to&nbsp;find&nbsp;me</h2>
            <p data-localize-text>Have a project or idea? Let's discuss software!</br>My expertise is available to turn your vision into rich digital experiences.</p>

            <div class="float-columns" id="contact-links">
              <div class="float-column">
                <h3 data-localize-text>Contact Me</h3>
                <ul>
                  <li>
                    <a href="mailto:mdupuis@hotmail.ca" class="">
                      <i class="mdi mdi-bxs-envelope"></i><span data-localize-text>mdupuis@hotmail.ca</span></a>
                  </li>
                  <li>
                    <a href="tel:++1 514 546 0054" >
                      <i class="mdi mdi-bxs-phone"></i><span data-localize-phone>(514) 546-0054</span></a>
                  </li>
                </ul>
              </div>

              <div class="float-column" id="external-links">
                <h3 data-localize-text>Find Me Online</h3>
                <ul>
                  <li>
                    <a href="<%= htmlWebpackPlugin.options.baseUrl %>/static/Maxime-Dupuis-resume.pdf" target="_blank">
                      <i class="mdi mdi-bxs-file"></i><span data-localize-text>My Resume</span></a>
                  </li>
                  <li>
                    <a href="https://github.com/maxdup" target="_blank">
                      <i class="mdi mdi-github"></i><span data-localize-text>Github</span></a>
                  </li>
                  <li>
                    <a href="https://linkedin.com/in/maxdup/" target="_blank">
                      <i class="mdi mdi-linkedin"></i><span data-localize-text>LinkedIn</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="addons">
      <div class="addons-container"></div>
    </div>
    <div id="foss">
      <div class="foss-container">
        <h4 data-localize-text>Licensed under GNU GPLv3.</h4>
        <div class="foss-text">
          <p data-localize-text>As a proponent of free open source software principles,</br>this personal web page is made available as an open-source project on GitHub.
          </p>
          <a href="https://github.com/maxdup/maxdup-dev" class="button source-link mdi mdi-github"
             target="_blank" data-localize-text>See source</a>
        </div>
      </div>
    </div>
  </body>
</html>
